/* styles.css */
body {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    margin: 0;
    padding: 0;
    flex-direction: line;
    align-items: center;
}

h1 {
    margin: 20px 0;
}

.grid-container {
    display: flex; /* Utilise flexbox pour aligner les éléments côte à côte */
    justify-content: space-between; /* Distribue l'espace entre les éléments */
    align-items: flex-start; /* Aligne les éléments en haut du conteneur */
    gap: 20px; /* Espace entre le tableau et l'image */
    padding: 20px; /* Ajouter du padding autour du conteneur */
}

.table-container {
    flex: 1; /* Permet au tableau de prendre l'espace disponible */
    max-width: 35%; /* Limite la largeur maximale du tableau */
}

table {
    width: 100%; /* Le tableau occupe toute la largeur de son conteneur */
    border-collapse: collapse; /* Fusionne les bordures des cellules */
}

table, th, td {
    border: 1px solid #ddd; /* Bordure autour du tableau, des en-têtes et des cellules */
}

th, td {
    padding: 8px; /* Espacement intérieur des cellules */
    text-align: left; /* Aligne le texte à gauche dans les cellules */
}

th {
    background-color: #f2f2f2; /* Couleur de fond des en-têtes */
}

.mountain-container {
    flex: 1; /* Permet à l'image de montagne de prendre l'espace disponible */
    max-width: 65%; /* Limite la largeur maximale de l'image de montagne */
    position: relative;
}

#mountain-image {
    width: 100%; /* Assure que l'image occupe toute la largeur de son conteneur */
    height: auto;
}

.team-label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.point {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    transform: translate(-50%, -50%); /* Pour centrer le point */
}

#fullscreenBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: fixed; /* Position fixe pour rester en haut à droite */
    top: 10px; /* Espacement du bord supérieur */
    right: 10px; /* Espacement du bord droit */
    z-index: 1000; /* Assurer que le bouton reste au-dessus du contenu */
}

.content {
    padding: 20px;
}

#logo {
    position: absolute; /* Permet de positionner l'image de manière précise */
    top: 0; /* Aligne l'image en haut */
    left: 0; /* Aligne l'image à gauche */
    margin: 10px; /* Optionnel : Ajoute un espace autour de l'image */
    /* Vous pouvez ajouter d'autres propriétés de style ici */
}